h1,
p,
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}

button {
    color: black;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

}

body {
    text-align: center;
    background-color: black;
}

#dialog_background {
    display: none;
    opacity: 0.75;
    position: fixed;
    top: 0px;
    left: 0px;
    background: white;
    width: 100%;
    z-index: 10;
}

#dialog {
    display: none;
    position: fixed;
    background: black;
    width: 400px;
    z-index: 10;
}

#d_head {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bold;
    margin: 10px;
}

#d_body {
    color: aliceblue;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
}

#d_footer {
    padding: 20px;
}